@model IEnumerable<Piston.Models.Page>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @foreach (var page in Model)
        {
            <li>@Html.RouteLink(page.Title, routeName: "Page", routeValues: new { PageName = page.Title })</li>
        }
    </ul>
</div>