// Website Variables and Colours

$base-font-family: 'Bitter', serif; 
$base-heading-font-family: 'Raleway', sans-serif;
$base-line-height: 30;

$base-link-color: black;
$base-link-hover-color: #808080;

$banner-background-color: black;
$banner-font-color: white;

$brand-font-color: white;

$category-color: #337ab7;
$tag-color: #33b77e;

$white: #fff;
