/* ==========================================================================

// Base Stylesheet - http://getbase.org
// Author: Matthew Hartman - http://www.matthewhartman.com.au/
// Version: 3.2.1 - Last Updated: September 10, 2016

========================================================================== */

// Override base's default variables
$base-font-family: 'Bitter', serif; 
$base-heading-font-family: 'Raleway', sans-serif;
$base-line-height: 30;
$base-link-color: black;
$base-link-hover-color: #808080;
$banner-background-color: black;
$brand-font-color: white;
$banner-font-color: white;

@import "base/_variables";

@import "base/_mixins";
@import "base/_resets";

@import "base/_typography";
@import "base/_lists";
@import "base/_blockquotes";
@import "base/_tables";
@import "base/_code";
@import "base/_forms";
@import "base/_buttons";

@import "base/_grid";
@import "base/_animations";;

@media print {
  @import "base/_print";
}